@page "/Gallery"
@using FelixPhotography.Components.Photos

<PageTitle>Gallery</PageTitle>

<div class="photo-grid">
    <PhotoCard Src="images/DSC03428.jpg"></PhotoCard>
    <PhotoCard Src="images/DSC03580.jpg"></PhotoCard>
    <PhotoCard Src="images/IMGP8104.jpg"></PhotoCard>    
</div>